.card-content{
    text-align: center;
    margin: auto;
    padding: 12px;
    width: fit-content;
}
#edit-form{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 550px) {
    .navbar-nav{
       position: absolute;
       left:68%;
    }
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}